$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sans-light: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway-bold: 'Raleway Bold',  'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway-semibold: 'Raleway SemiBold',  'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
    font-family: $open-sans;
}

h1, h2 {
    font-family: $raleway-bold;
}

h3, h4 {
    font-family: $raleway-semibold;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-family: $open-sans-light;
    font-size: 1.313em;
}
