input {
    font-family: $open-sans;
    font-size: 1.6em;
    border-radius: 3px;
}

input[type=submit], .button {
    background-color: $dark-green;
    color: $white;
}

input[type=text] {
    color: $medium-gray;
    border: 0.1em solid $light-gray;
}
