input[type=submit], .button {
    @include border-radius(3px, 3px);
    background-color: $dark-green;
    color: $white;
}

input[type=text] {
    color: $medium-gray;
    @include border-radius(3px, 3px);
    border: 0.1em solid $light-gray;
}
